* {
    margin: 0%;
    padding: 0%;
}

h1 {
    font-size: xx-large;
    font-family: Verdana, sans-serif;
    margin: 5% 15% 0 8%; 
}

.mem, hr {
    margin: 0 15% 0 8%;
    font-size: large;
    font-family: Verdana, sans-serif;
    color: blueviolet;
}

div img {
    width: 0;
    height: 0;
    visibility: hidden;
}

.mem:hover img {
    width: 20%;
    height: 20%;
    visibility: visible;
    transition: 1s;
}

#all:hover {
    cursor: pointer;   
}
