* {
    margin: 0%;
    padding: 0%;
    background-color: rgb(254, 252, 232);
}

h1 {
    font-size: xx-large;
    font-family: Verdana, sans-serif;
    margin: 5% 13% 0 13%; 
    color: darkkhaki;
}

.mem, hr {
    margin: 0 13% 0 13%;
    font-size: large;
    font-family: Verdana, sans-serif;
    color: blueviolet;
}

div img {
    width: 0;
    height: 0;
    visibility: hidden;
}

.mem:hover img {
    width: 20%;
    height: 20%;
    visibility: visible;
    transition: 1s;
}

#all:hover p{
    cursor: pointer; 
    color: black;
}


